
@font-face {
	font-family:	'Montserrat' ;
	src: url('./Fontes/Montserrat-Regular_0.ttf');
}
@font-face {
	font-family:	'Montserrat-ExtraBold' ;
	src: url('./Fontes/Montserrat-ExtraBold_0.ttf');
}
@font-face {
	font-family:	'Montserrat-Bold' ;
	src: url('./Fontes/Montserrat-Bold_0.ttf');
}


.EstiloDefault {
	font-family: Montserrat, sans-serif;
}

.fontType-ExtraBold {
	font-family: Montserrat-ExtraBold, sans-serif;
}
.fontType-Bold {
	font-family: Montserrat-Bold, sans-serif;
}

.botaoPadrao {
	background-color: #e5b54a  !important;
	width: 120px !important;
	color: #383330  !important;
	font-weight: 600 !important;
	border: none !important;
	font-size: 13pt !important;
	
}
.botaoPadrao:hover {
	background-color: #cea244  !important;
	color: #383330  !important;
}
.conteudoAux {
	background-color: #efefef !important;
}
.rodape {
	background-color: #e5b54a;
	color: #ffffff;
}
.link-branco {
	color: #ffffff;
	text-decoration: none;
}
.link-branco:hover {
	color: #ebebeb
}
